# **Exploratory Data Analysis**

In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
%matplotlib inline
from matplotlib import font_manager, rc
import matplotlib
matplotlib.rcParams['font.family'] = 'Malgun Gothic'
matplotlib.rcParams['axes.unicode_minus'] = True
import seaborn as sns

import datetime

import warnings
warnings.filterwarnings('ignore')
# pd.set_option('display.max_rows', None)

In [2]:
food = pd.read_csv('../../../../../Source/2021 빅콘테스트/2021 빅콘테스트_ECO제주/01_제공데이터_update(210811)/04_음식관련 카드소비_CARD_SPENDING_encoded.csv')

food

,base_date,city,emd_cd,emd_nm,mct_cat_cd,mct_cat_nm,use_cnt,use_amt
0,2018-01-06,제주시,50110650,연동,C00100,한식,3643,127777300
1,2018-01-09,제주시,50110650,연동,C00500,패스트푸드,432,6711675
2,2018-01-15,제주시,50110650,연동,C01200,농축수산물,236,16089579
3,2018-01-15,제주시,50110650,연동,A00200,마트/슈퍼마켓,4031,121979867
4,2018-01-20,제주시,50110650,연동,C01000,식품,633,30410674
...,...,...,...,...,...,...,...,...
544800,2020-10-16,제주시,XXXXXXXX,알수없음,C01400,배달,5,127250
544801,2019-08-31,서귀포시,XXXXXXXX,알수없음,C01400,배달,5,39974
544802,2020-10-03,서귀포시,XXXXXXXX,알수없음,C01400,배달,10,329832
544803,2020-10-23,서귀포시,XXXXXXXX,알수없음,C01400,배달,5,68715
544804,2020-12-21,제주시,XXXXXXXX,알수없음,C01400,배달,10,187452

In [3]:
food.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 544805 entries, 0 to 544804
Data columns (total 8 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   base_date   544805 non-null  object
 1   city        544805 non-null  object
 2   emd_cd      544805 non-null  object
 3   emd_nm      544805 non-null  object
 4   mct_cat_cd  544805 non-null  object
 5   mct_cat_nm  544805 non-null  object
 6   use_cnt     544805 non-null  int64
 7   use_amt     544805 non-null  int64
dtypes: int64(2), object(6)
memory usage: 33.3+ MB

In [4]:
type(food['base_date'][0])

str

In [5]:
food['base_date'] = pd.to_datetime(food['base_date'])

In [6]:
food.sort_values(by='base_date')

food

,base_date,city,emd_cd,emd_nm,mct_cat_cd,mct_cat_nm,use_cnt,use_amt
0,2018-01-06,제주시,50110650,연동,C00100,한식,3643,127777300
1,2018-01-09,제주시,50110650,연동,C00500,패스트푸드,432,6711675
2,2018-01-15,제주시,50110650,연동,C01200,농축수산물,236,16089579
3,2018-01-15,제주시,50110650,연동,A00200,마트/슈퍼마켓,4031,121979867
4,2018-01-20,제주시,50110650,연동,C01000,식품,633,30410674
...,...,...,...,...,...,...,...,...
544800,2020-10-16,제주시,XXXXXXXX,알수없음,C01400,배달,5,127250
544801,2019-08-31,서귀포시,XXXXXXXX,알수없음,C01400,배달,5,39974
544802,2020-10-03,서귀포시,XXXXXXXX,알수없음,C01400,배달,10,329832
544803,2020-10-23,서귀포시,XXXXXXXX,알수없음,C01400,배달,5,68715
544804,2020-12-21,제주시,XXXXXXXX,알수없음,C01400,배달,10,187452

In [7]:
### 왜 날짜순으로 정렬이 안 되지...? ###

In [8]:
# 음식점 쓰레기는 분석에서 제외 → ['마트/슈퍼마켓', '식품', '농축수산물', '배달'] 4개만 남기고 제거
food.drop(food[food['mct_cat_nm']=='한식'].index, inplace=True)
food.drop(food[food['mct_cat_nm']=='패스트푸드'].index, inplace=True)
food.drop(food[food['mct_cat_nm']=='간식'].index, inplace=True)
food.drop(food[food['mct_cat_nm']=='아시아음식'].index, inplace=True)
food.drop(food[food['mct_cat_nm']=='양식'].index, inplace=True)
food.drop(food[food['mct_cat_nm']=='주점및주류판매'].index, inplace=True)
food.drop(food[food['mct_cat_nm']=='부페'].index, inplace=True)

food

,base_date,city,emd_cd,emd_nm,mct_cat_cd,mct_cat_nm,use_cnt,use_amt
2,2018-01-15,제주시,50110650,연동,C01200,농축수산물,236,16089579
3,2018-01-15,제주시,50110650,연동,A00200,마트/슈퍼마켓,4031,121979867
4,2018-01-20,제주시,50110650,연동,C01000,식품,633,30410674
8,2018-01-30,제주시,50110650,연동,C01000,식품,481,18497443
14,2018-02-06,제주시,50110650,연동,A00200,마트/슈퍼마켓,3364,99018979
...,...,...,...,...,...,...,...,...
544800,2020-10-16,제주시,XXXXXXXX,알수없음,C01400,배달,5,127250
544801,2019-08-31,서귀포시,XXXXXXXX,알수없음,C01400,배달,5,39974
544802,2020-10-03,서귀포시,XXXXXXXX,알수없음,C01400,배달,10,329832
544803,2020-10-23,서귀포시,XXXXXXXX,알수없음,C01400,배달,5,68715
544804,2020-12-21,제주시,XXXXXXXX,알수없음,C01400,배달,10,187452

## **결제금액/건수 기준**

In [9]:
food['mct_cat_nm'].value_counts()

마트/슈퍼마켓    57451
식품         56154
농축수산물      53569
배달         51765
Name: mct_cat_nm, dtype: int64

In [10]:
category_amt = food.groupby('mct_cat_nm').sum().sort_values(by='use_amt', ascending=False)

category_amt

             use_cnt        use_amt
mct_cat_nm
마트/슈퍼마켓     54032048  1860801386448
식품          17890849   685085950757
농축수산물        5269514   351475488512
배달           7392467   170647358144

In [11]:
category_cnt = food.groupby('mct_cat_nm').sum().sort_values(by='use_cnt', ascending=False)

category_cnt

             use_cnt        use_amt
mct_cat_nm
마트/슈퍼마켓     54032048  1860801386448
식품          17890849   685085950757
배달           7392467   170647358144
농축수산물        5269514   351475488512

## **행정동 기준**

In [12]:
food['emd_nm'].value_counts()

알수없음    6273
이도2동    5108
아라동     5108
삼양동     5108
일도2동    5108
화북동     5108
연동      5108
노형동     5108
건입동     5107
용담2동    5107
동홍동     5107
삼도1동    5107
애월읍     5106
삼도2동    5105
이도1동    5105
외도동     5102
한림읍     5100
대천동     5099
대륜동     5098
대정읍     5097
오라동     5095
조천읍     5095
남원읍     5079
서홍동     5076
용담1동    5071
성산읍     5062
중문동     5057
안덕면     5036
표선면     5024
구좌읍     4993
일도1동    4986
한경면     4957
효돈동     4923
중앙동     4903
도두동     4900
송산동     4884
천지동     4880
이호동     4785
예래동     4756
봉개동     4756
영천동     4741
정방동     4714
우도면     3481
추자면     3416
Name: emd_nm, dtype: int64

***'알수없음'은 어떻게 처리? → <span style="color:red">제거 X</span>***

In [13]:
dong = food.groupby(['emd_nm', 'mct_cat_nm']).sum()

dong

                   use_cnt      use_amt
emd_nm mct_cat_nm
건입동    농축수산물         90610   8451532877
       마트/슈퍼마켓      775608  25330854527
       배달           118563   2754741956
       식품           366413  16938141302
구좌읍    농축수산물         88806   6030703512
...                    ...          ...
화북동    식품           549629  22859863572
효돈동    농축수산물         29262   2252161588
       마트/슈퍼마켓      358954  16255030677
       배달            20875    415120299
       식품           134649   3900833040

[176 rows x 2 columns]

In [14]:
dong['use_cnt']

emd_nm  mct_cat_nm
건입동     농축수산물          90610
        마트/슈퍼마켓       775608
        배달            118563
        식품            366413
구좌읍     농축수산물          88806
                       ...
화북동     식품            549629
효돈동     농축수산물          29262
        마트/슈퍼마켓       358954
        배달             20875
        식품            134649
Name: use_cnt, Length: 176, dtype: int64

In [15]:
dong.index[0]

('건입동', '농축수산물')

In [16]:
# 테스트
p = max(dong['use_cnt'])
print(dong[(dong['use_cnt'] == p) == True])

                   use_cnt       use_amt
emd_nm mct_cat_nm
노형동    마트/슈퍼마켓     6266351  196141268135

In [17]:
# # 업종 분류가 동별로 4개씩이므로
# for i in range(len(food['emd_nm'].value_counts())):
#     maximum = max(dong['use_cnt'][i*4:i*4+4])
#     print(dong[(dong['use_cnt'] == maximum) == True])

**모든 행정동에서 마트/슈퍼마켓이 가장 큼...**

In [18]:
# 업종 분류가 동별로 4개씩이므로
for i in range(len(food['emd_nm'].value_counts())):
    rank = dong['use_cnt'][i*4:i*4+4].nlargest(4)
    print(rank)
    print('========================================')

emd_nm  mct_cat_nm
건입동     마트/슈퍼마켓       775608
        식품            366413
        배달            118563
        농축수산물          90610
Name: use_cnt, dtype: int64
========================================
emd_nm  mct_cat_nm
구좌읍     마트/슈퍼마켓       570964
        식품            445599
        농축수산물          88806
        배달             38622
Name: use_cnt, dtype: int64
========================================
emd_nm  mct_cat_nm
남원읍     마트/슈퍼마켓       653626
        식품            435936
        농축수산물          80559
        배달             50853
Name: use_cnt, dtype: int64
========================================
emd_nm  mct_cat_nm
노형동     마트/슈퍼마켓       6266351
        식품            1652260
        배달            1056361
        농축수산물          476695
Name: use_cnt, dtype: int64
========================================
emd_nm  mct_cat_nm
대륜동     마트/슈퍼마켓       1162733
        식품             257131
        배달             131648
        농축수산물           66412
Name: use_cnt, dtype: int64
========================================
emd_nm  mct_cat_nm
대정읍     마트/슈퍼마켓       1466190
        식품             434911
        농축수산물          100086
        배달              90319
Name: use_cnt, dtype: int64
========================================
emd_nm  mct_cat_nm
대천동     마트/슈퍼마켓       1203750
        식품             218691
        배달             144599
        농축수산물           56773
Name: use_cnt, dtype: int64
========================================
emd_nm  mct_cat_nm
도두동     마트/슈퍼마켓       278481
        식품             74702
        배달             30427
        농축수산물          21800
Name: use_cnt, dtype: int64
========================================
emd_nm  mct_cat_nm
동홍동     마트/슈퍼마켓       2505186
        식품             384810
        배달             224064
        농축수산물          124502
Name: use_cnt, dtype: int64
========================================
emd_nm  mct_cat_nm
봉개동     마트/슈퍼마켓       292700
        식품             88230
        농축수산물          31994
        배달             28421
Name: use_cnt, dtype: int64
========================================
emd_nm  mct_cat_nm
삼도1동    마트/슈퍼마켓       1559852
        식품             308432
        배달             180698
        농축수산물          109532
Name: use_cnt, dtype: int64
========================================
emd_nm  mct_cat_nm
삼도2동    마트/슈퍼마켓       765075
        식품            234436
        배달            115764
        농축수산물          77577
Name: use_cnt, dtype: int64
========================================
emd_nm  mct_cat_nm
삼양동     마트/슈퍼마켓       1983855
        농축수산물          553864
        식품             499747
        배달             325655
Name: use_cnt, dtype: int64
========================================
emd_nm  mct_cat_nm
서홍동     마트/슈퍼마켓       1138697
        식품             136251
        배달              97980
        농축수산물           75776
Name: use_cnt, dtype: int64
========================================
emd_nm  mct_cat_nm
성산읍     마트/슈퍼마켓       759446
        식품            309137
        배달             51460
        농축수산물          50840
Name: use_cnt, dtype: int64
========================================
emd_nm  mct_cat_nm
송산동     마트/슈퍼마켓       321574
        식품             53144
        농축수산물          39507
        배달             29209
Name: use_cnt, dtype: int64
========================================
emd_nm  mct_cat_nm
아라동     마트/슈퍼마켓       2857914
        식품             802236
        배달             431700
        농축수산물          349413
Name: use_cnt, dtype: int64
========================================
emd_nm  mct_cat_nm
안덕면     마트/슈퍼마켓       512781
        식품            341159
        농축수산물          46452
        배달             43241
Name: use_cnt, dtype: int64
========================================
emd_nm  mct_cat_nm
알수없음    마트/슈퍼마켓       97207
        식품            16941
        배달             8761
        농축수산물          6085
Name: use_cnt, dtype: int64
========================================
emd_nm  mct_cat_nm
애월읍     마트/슈퍼마켓       1656703
        식품            1380291
        배달             210567
        농축수산물          128345
Name: use_cnt, dtype: int64
========================================
emd_nm  mct_cat_nm
연동      마트/슈퍼마켓       4778002
        식품            1177387
        배달            1018833
        농축수산물          285650
Name: use_cnt, dtype: int64
========================================
emd_nm  mct_cat_nm
영천동     마트/슈퍼마켓       475466
        식품             93782
        농축수산물          27538
        배달             24708
Name: use_cnt, dtype: int64
========================================
emd_nm  mct_cat_nm
예래동     마트/슈퍼마켓       237303
        식품            102521
        배달             32227
        농축수산물          13095
Name: use_cnt, dtype: int64
========================================
emd_nm  mct_cat_nm
오라동     마트/슈퍼마켓       1487404
        식품             442887
        배달             165131
        농축수산물          101248
Name: use_cnt, dtype: int64
========================================
emd_nm  mct_cat_nm
외도동     마트/슈퍼마켓       2488452
        식품             565090
        배달             247142
        농축수산물          100652
Name: use_cnt, dtype: int64
========================================
emd_nm  mct_cat_nm
용담1동    마트/슈퍼마켓       686507
        식품            162882
        농축수산물          81873
        배달             71544
Name: use_cnt, dtype: int64
========================================
emd_nm  mct_cat_nm
용담2동    마트/슈퍼마켓       1648572
        식품             309010
        배달             177179
        농축수산물          163366
Name: use_cnt, dtype: int64
========================================
emd_nm  mct_cat_nm
우도면     마트/슈퍼마켓       57050
        식품            27348
        농축수산물          4429
        배달             2780
Name: use_cnt, dtype: int64
========================================
emd_nm  mct_cat_nm
이도1동    마트/슈퍼마켓       826808
        식품            201850
        배달            145836
        농축수산물          91710
Name: use_cnt, dtype: int64
========================================
emd_nm  mct_cat_nm
이도2동    마트/슈퍼마켓       4541070
        식품            1469938
        배달             825944
        농축수산물          669412
Name: use_cnt, dtype: int64
========================================
emd_nm  mct_cat_nm
이호동     마트/슈퍼마켓       358083
        식품            123086
        배달             31657
        농축수산물          21484
Name: use_cnt, dtype: int64
========================================
emd_nm  mct_cat_nm
일도1동    마트/슈퍼마켓       247527
        식품            118962
        배달             37440
        농축수산물          36880
Name: use_cnt, dtype: int64
========================================
emd_nm  mct_cat_nm
일도2동    마트/슈퍼마켓       2626050
        식품            1145376
        배달             435088
        농축수산물          333199
Name: use_cnt, dtype: int64
========================================
emd_nm  mct_cat_nm
정방동     마트/슈퍼마켓       185788
        식품             25497
        농축수산물          20468
        배달             20400
Name: use_cnt, dtype: int64
========================================
emd_nm  mct_cat_nm
조천읍     식품            1142379
        마트/슈퍼마켓       1056202
        농축수산물          130152
        배달             120005
Name: use_cnt, dtype: int64
========================================
emd_nm  mct_cat_nm
중문동     마트/슈퍼마켓       631843
        식품            435098
        배달             95638
        농축수산물          33667
Name: use_cnt, dtype: int64
========================================
emd_nm  mct_cat_nm
중앙동     마트/슈퍼마켓       302898
        식품             44360
        농축수산물          43988
        배달             26192
Name: use_cnt, dtype: int64
========================================
emd_nm  mct_cat_nm
천지동     마트/슈퍼마켓       307214
        식품             48224
        농축수산물          34950
        배달             31409
Name: use_cnt, dtype: int64
========================================
emd_nm  mct_cat_nm
추자면     마트/슈퍼마켓       45573
        식품             8466
        배달             6564
        농축수산물          4015
Name: use_cnt, dtype: int64
========================================
emd_nm  mct_cat_nm
표선면     마트/슈퍼마켓       484665
        식품            295028
        농축수산물          50327
        배달             43438
Name: use_cnt, dtype: int64
========================================
emd_nm  mct_cat_nm
한경면     마트/슈퍼마켓       328307
        식품            215862
        농축수산물          26613
        배달             19062
Name: use_cnt, dtype: int64
========================================
emd_nm  mct_cat_nm
한림읍     마트/슈퍼마켓       867429
        식품            611081
        배달            105693
        농축수산물          71038
Name: use_cnt, dtype: int64
========================================
emd_nm  mct_cat_nm
화북동     마트/슈퍼마켓       2176188
        식품             549629
        농축수산물          318870
        배달             278770
Name: use_cnt, dtype: int64
========================================
emd_nm  mct_cat_nm
효돈동     마트/슈퍼마켓       358954
        식품            134649
        농축수산물          29262
        배달             20875
Name: use_cnt, dtype: int64
========================================