In [1]:
import pandas as pd

# df = pd.read_csv('음식물+유동인구.csv', encoding='cp949')

In [2]:
df.isnull().sum()

base_date          0
city               0
emd_nm             0
0여성notvisit      913
0여성visit         913
0남성notvisit      913
0남성visit         913
10여성notvisit     913
10여성visit        913
10남성notvisit     913
10남성visit        913
20여성notvisit     913
20여성visit        913
20남성notvisit     913
20남성visit        913
30여성notvisit     913
30여성visit        913
30남성notvisit     913
30남성visit        913
40여성notvisit     913
40여성visit        913
40남성notvisit     913
40남성visit        913
50여성notvisit     913
50여성visit        913
50남성notvisit     913
50남성visit        913
60여성notvisit     913
60여성visit        913
60남성notvisit     913
60남성visit        913
70여성notvisit     913
70여성visit        913
70남성notvisit     913
70남성visit        913
80여성notvisit     913
80여성visit        913
80남성notvisit     913
80남성visit        913
장기체류외국인          913
단기체류외국인         2108
배출건수            5302
배출량             5302
dtype: int64

In [3]:
df.dropna(inplace=True)

In [4]:
df

,base_date,city,emd_nm,0여성notvisit,0여성visit,0남성notvisit,0남성visit,10여성notvisit,10여성visit,10남성notvisit,...,70남성notvisit,70남성visit,80여성notvisit,80여성visit,80남성notvisit,80남성visit,장기체류외국인,단기체류외국인,배출건수,배출량
0,2018-01-01,서귀포시,남원읍,11030.2331,9791.3235,11498.2617,10650.5811,13324.2924,10954.4914,15372.8110,...,11864.8323,3302.1643,9313.4883,3581.6028,5048.0583,1258.6118,3217.1185,3552.3268,304.0,1239600.0
1,2018-01-01,서귀포시,대륜동,17647.5285,10160.5833,15216.9486,10298.1857,14152.0528,11361.8229,12541.6031,...,7828.6262,3660.0321,4756.9182,3304.4581,2626.1564,1394.6639,2926.3732,1347.0481,650.0,1717700.0
2,2018-01-01,서귀포시,대정읍,12538.2881,7792.5662,14360.4369,6043.2109,16053.7231,8710.5446,19530.3550,...,15862.1389,2460.7072,13545.1496,2777.5342,7111.8299,937.3813,5844.0823,1988.0280,309.0,1264950.0
3,2018-01-01,서귀포시,대천동,10539.1926,7307.2766,10214.4234,7677.3523,7645.1222,8157.7877,7511.4389,...,4698.0571,2283.1244,2479.1482,2655.9199,1595.5814,871.3387,2538.0331,1072.5069,696.0,1765600.0
4,2018-01-01,서귀포시,동홍동,20141.3526,7741.1595,22060.7555,8331.2173,28043.7082,8607.6880,31639.5584,...,8957.2159,3277.4586,7659.1228,2311.5113,2373.9445,1252.3303,3408.0341,1516.3274,1567.0,4165050.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54905,2021-06-30,제주시,일도2동,48057.8395,18562.2277,30770.1050,10532.0118,41791.7039,14277.3294,40655.9314,...,18348.2888,5953.1502,9284.7058,2556.6518,8771.6435,3420.9362,3170.0052,12.2008,2856.0,4963450.0
54906,2021-06-30,제주시,조천읍,30216.3887,14827.6615,21878.8003,9076.8035,21784.9016,11604.2870,24200.9821,...,16559.9009,7181.4365,8746.7680,2298.8838,10532.3366,3982.0652,8924.3975,149.3947,981.0,2175450.0
54908,2021-06-30,제주시,한경면,9193.6955,3548.3814,6477.0927,1736.8238,6839.1511,2765.9751,7319.9596,...,9683.8896,1942.5116,4360.6700,787.4491,8051.1412,1082.3009,5845.2554,12.4909,269.0,973850.0
54909,2021-06-30,제주시,한림읍,26110.8260,17203.7474,25456.5456,12150.2043,20592.9715,13470.3068,29606.2524,...,19216.0045,4032.8309,8323.8264,1902.3471,13061.2436,2236.5545,16187.4190,72.9285,870.0,3298100.0
54910,2021-06-30,제주시,화북동,47158.1302,17646.9049,45039.1572,22722.0188,37776.5360,13590.1558,53042.8681,...,13171.8665,5361.2429,6773.2128,1339.3738,7968.5210,3072.6886,3050.1552,43.8175,2255.0,3749600.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48421 entries, 0 to 54910
Data columns (total 43 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   base_date     48421 non-null  object
 1   city          48421 non-null  object
 2   emd_nm        48421 non-null  object
 3   0여성notvisit   48421 non-null  float64
 4   0여성visit      48421 non-null  float64
 5   0남성notvisit   48421 non-null  float64
 6   0남성visit      48421 non-null  float64
 7   10여성notvisit  48421 non-null  float64
 8   10여성visit     48421 non-null  float64
 9   10남성notvisit  48421 non-null  float64
 10  10남성visit     48421 non-null  float64
 11  20여성notvisit  48421 non-null  float64
 12  20여성visit     48421 non-null  float64
 13  20남성notvisit  48421 non-null  float64
 14  20남성visit     48421 non-null  float64
 15  30여성notvisit  48421 non-null  float64
 16  30여성visit     48421 non-null  float64
 17  30남성notvisit  48421 non-null  float64
 18  30남성visit     48421 non-null  float64
 19  40여성notvisit  48421 non-null  float64
 20  40여성visit     48421 non-null  float64
 21  40남성notvisit  48421 non-null  float64
 22  40남성visit     48421 non-null  float64
 23  50여성notvisit  48421 non-null  float64
 24  50여성visit     48421 non-null  float64
 25  50남성notvisit  48421 non-null  float64
 26  50남성visit     48421 non-null  float64
 27  60여성notvisit  48421 non-null  float64
 28  60여성visit     48421 non-null  float64
 29  60남성notvisit  48421 non-null  float64
 30  60남성visit     48421 non-null  float64
 31  70여성notvisit  48421 non-null  float64
 32  70여성visit     48421 non-null  float64
 33  70남성notvisit  48421 non-null  float64
 34  70남성visit     48421 non-null  float64
 35  80여성notvisit  48421 non-null  float64
 36  80여성visit     48421 non-null  float64
 37  80남성notvisit  48421 non-null  float64
 38  80남성visit     48421 non-null  float64
 39  장기체류외국인       48421 non-null  float64
 40  단기체류외국인       48421 non-null  float64
 41  배출건수          48421 non-null  float64
 42  배출량           48421 non-null  float64
dtypes: float64(40), object(3)
memory usage: 16.3+ MB

## 공휴일 데이터 합치기

In [6]:
df_hol = pd.read_csv('국가공휴일.csv', encoding='cp949')
df_hol

    순서     년   월   일     설명
0    1  2018   1   1     새해
1    2  2018   2  15     설날
2    3  2018   2  16     설날
3    4  2018   2  17     설날
4    5  2018   3   1    삼일절
..  ..   ...  ..  ..    ...
83  84  2022   9  11     추석
84  85  2022   9  12  대체공휴일
85  86  2022  10   3    개천절
86  87  2022  10   9    한글날
87  88  2022  12  25  기독탄신일

[88 rows x 5 columns]

In [7]:
df_hol.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88 entries, 0 to 87
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   순서      88 non-null     int64
 1   년       88 non-null     int64
 2   월       88 non-null     int64
 3   일       88 non-null     int64
 4   설명      88 non-null     object
dtypes: int64(4), object(1)
memory usage: 3.6+ KB

In [8]:
def todatetime(x):
    year = str(x[1])
    month = x[2]
    day = x[3]
    if month < 10:
        month = '0' + str(month)
    else:
        month = str(month)
    
    if day < 10:
        day = '0' + str(day)
    else:
        day = str(day)
    
    return year+'-'+month+'-'+day

In [9]:
df_hol['base_date'] = df_hol.apply(todatetime, axis=1)

In [10]:
df_hol['holiday'] = True

In [11]:
df_hol

    순서     년   월   일     설명   base_date  holiday
0    1  2018   1   1     새해  2018-01-01     True
1    2  2018   2  15     설날  2018-02-15     True
2    3  2018   2  16     설날  2018-02-16     True
3    4  2018   2  17     설날  2018-02-17     True
4    5  2018   3   1    삼일절  2018-03-01     True
..  ..   ...  ..  ..    ...         ...      ...
83  84  2022   9  11     추석  2022-09-11     True
84  85  2022   9  12  대체공휴일  2022-09-12     True
85  86  2022  10   3    개천절  2022-10-03     True
86  87  2022  10   9    한글날  2022-10-09     True
87  88  2022  12  25  기독탄신일  2022-12-25     True

[88 rows x 7 columns]

In [12]:
df2 = pd.merge(df, df_hol[['base_date', 'holiday']], on='base_date', how='left')

In [13]:
df2.fillna(False, inplace=True)
df2

,base_date,city,emd_nm,0여성notvisit,0여성visit,0남성notvisit,0남성visit,10여성notvisit,10여성visit,10남성notvisit,...,70남성visit,80여성notvisit,80여성visit,80남성notvisit,80남성visit,장기체류외국인,단기체류외국인,배출건수,배출량,holiday
0,2018-01-01,서귀포시,남원읍,11030.2331,9791.3235,11498.2617,10650.5811,13324.2924,10954.4914,15372.8110,...,3302.1643,9313.4883,3581.6028,5048.0583,1258.6118,3217.1185,3552.3268,304.0,1239600.0,True
1,2018-01-01,서귀포시,대륜동,17647.5285,10160.5833,15216.9486,10298.1857,14152.0528,11361.8229,12541.6031,...,3660.0321,4756.9182,3304.4581,2626.1564,1394.6639,2926.3732,1347.0481,650.0,1717700.0,True
2,2018-01-01,서귀포시,대정읍,12538.2881,7792.5662,14360.4369,6043.2109,16053.7231,8710.5446,19530.3550,...,2460.7072,13545.1496,2777.5342,7111.8299,937.3813,5844.0823,1988.0280,309.0,1264950.0,True
3,2018-01-01,서귀포시,대천동,10539.1926,7307.2766,10214.4234,7677.3523,7645.1222,8157.7877,7511.4389,...,2283.1244,2479.1482,2655.9199,1595.5814,871.3387,2538.0331,1072.5069,696.0,1765600.0,True
4,2018-01-01,서귀포시,동홍동,20141.3526,7741.1595,22060.7555,8331.2173,28043.7082,8607.6880,31639.5584,...,3277.4586,7659.1228,2311.5113,2373.9445,1252.3303,3408.0341,1516.3274,1567.0,4165050.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48416,2021-06-30,제주시,일도2동,48057.8395,18562.2277,30770.1050,10532.0118,41791.7039,14277.3294,40655.9314,...,5953.1502,9284.7058,2556.6518,8771.6435,3420.9362,3170.0052,12.2008,2856.0,4963450.0,False
48417,2021-06-30,제주시,조천읍,30216.3887,14827.6615,21878.8003,9076.8035,21784.9016,11604.2870,24200.9821,...,7181.4365,8746.7680,2298.8838,10532.3366,3982.0652,8924.3975,149.3947,981.0,2175450.0,False
48418,2021-06-30,제주시,한경면,9193.6955,3548.3814,6477.0927,1736.8238,6839.1511,2765.9751,7319.9596,...,1942.5116,4360.6700,787.4491,8051.1412,1082.3009,5845.2554,12.4909,269.0,973850.0,False
48419,2021-06-30,제주시,한림읍,26110.8260,17203.7474,25456.5456,12150.2043,20592.9715,13470.3068,29606.2524,...,4032.8309,8323.8264,1902.3471,13061.2436,2236.5545,16187.4190,72.9285,870.0,3298100.0,False
48420,2021-06-30,제주시,화북동,47158.1302,17646.9049,45039.1572,22722.0188,37776.5360,13590.1558,53042.8681,...,5361.2429,6773.2128,1339.3738,7968.5210,3072.6886,3050.1552,43.8175,2255.0,3749600.0,False

## 평일 데이터 생성 후 합치기

In [14]:
start_date = pd.to_datetime('2018-01-01') # 시작 날짜
end_date = pd.to_datetime('2021-06-30') # 마지막 날짜
 
dates = pd.date_range(start_date,end_date,freq='B') # 주말이 아닌 날짜만 생성
dates

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-08', '2018-01-09', '2018-01-10',
               '2018-01-11', '2018-01-12',
               ...
               '2021-06-17', '2021-06-18', '2021-06-21', '2021-06-22',
               '2021-06-23', '2021-06-24', '2021-06-25', '2021-06-28',
               '2021-06-29', '2021-06-30'],
              dtype='datetime64[ns]', length=913, freq='B')

In [15]:
weekdays = pd.DataFrame(data={'weekend':[False for _ in range(len(dates))]}, index=dates)

In [16]:
weekdays.index.name = 'base_date'

In [17]:
weekdays.reset_index(inplace=True)
weekdays

     base_date  weekend
0   2018-01-01    False
1   2018-01-02    False
2   2018-01-03    False
3   2018-01-04    False
4   2018-01-05    False
..         ...      ...
908 2021-06-24    False
909 2021-06-25    False
910 2021-06-28    False
911 2021-06-29    False
912 2021-06-30    False

[913 rows x 2 columns]

In [18]:
weekdays['base_date'] = weekdays['base_date'].apply(lambda x: x.strftime('%Y-%m-%d'))

In [19]:
weekdays

      base_date  weekend
0    2018-01-01    False
1    2018-01-02    False
2    2018-01-03    False
3    2018-01-04    False
4    2018-01-05    False
..          ...      ...
908  2021-06-24    False
909  2021-06-25    False
910  2021-06-28    False
911  2021-06-29    False
912  2021-06-30    False

[913 rows x 2 columns]

In [20]:
df2 = pd.merge(df2, weekdays, on='base_date', how='left')
df2

,base_date,city,emd_nm,0여성notvisit,0여성visit,0남성notvisit,0남성visit,10여성notvisit,10여성visit,10남성notvisit,...,80여성notvisit,80여성visit,80남성notvisit,80남성visit,장기체류외국인,단기체류외국인,배출건수,배출량,holiday,weekend
0,2018-01-01,서귀포시,남원읍,11030.2331,9791.3235,11498.2617,10650.5811,13324.2924,10954.4914,15372.8110,...,9313.4883,3581.6028,5048.0583,1258.6118,3217.1185,3552.3268,304.0,1239600.0,True,False
1,2018-01-01,서귀포시,대륜동,17647.5285,10160.5833,15216.9486,10298.1857,14152.0528,11361.8229,12541.6031,...,4756.9182,3304.4581,2626.1564,1394.6639,2926.3732,1347.0481,650.0,1717700.0,True,False
2,2018-01-01,서귀포시,대정읍,12538.2881,7792.5662,14360.4369,6043.2109,16053.7231,8710.5446,19530.3550,...,13545.1496,2777.5342,7111.8299,937.3813,5844.0823,1988.0280,309.0,1264950.0,True,False
3,2018-01-01,서귀포시,대천동,10539.1926,7307.2766,10214.4234,7677.3523,7645.1222,8157.7877,7511.4389,...,2479.1482,2655.9199,1595.5814,871.3387,2538.0331,1072.5069,696.0,1765600.0,True,False
4,2018-01-01,서귀포시,동홍동,20141.3526,7741.1595,22060.7555,8331.2173,28043.7082,8607.6880,31639.5584,...,7659.1228,2311.5113,2373.9445,1252.3303,3408.0341,1516.3274,1567.0,4165050.0,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48416,2021-06-30,제주시,일도2동,48057.8395,18562.2277,30770.1050,10532.0118,41791.7039,14277.3294,40655.9314,...,9284.7058,2556.6518,8771.6435,3420.9362,3170.0052,12.2008,2856.0,4963450.0,False,False
48417,2021-06-30,제주시,조천읍,30216.3887,14827.6615,21878.8003,9076.8035,21784.9016,11604.2870,24200.9821,...,8746.7680,2298.8838,10532.3366,3982.0652,8924.3975,149.3947,981.0,2175450.0,False,False
48418,2021-06-30,제주시,한경면,9193.6955,3548.3814,6477.0927,1736.8238,6839.1511,2765.9751,7319.9596,...,4360.6700,787.4491,8051.1412,1082.3009,5845.2554,12.4909,269.0,973850.0,False,False
48419,2021-06-30,제주시,한림읍,26110.8260,17203.7474,25456.5456,12150.2043,20592.9715,13470.3068,29606.2524,...,8323.8264,1902.3471,13061.2436,2236.5545,16187.4190,72.9285,870.0,3298100.0,False,False
48420,2021-06-30,제주시,화북동,47158.1302,17646.9049,45039.1572,22722.0188,37776.5360,13590.1558,53042.8681,...,6773.2128,1339.3738,7968.5210,3072.6886,3050.1552,43.8175,2255.0,3749600.0,False,False

In [21]:
df2.fillna(True, inplace=True)
df2

,base_date,city,emd_nm,0여성notvisit,0여성visit,0남성notvisit,0남성visit,10여성notvisit,10여성visit,10남성notvisit,...,80여성notvisit,80여성visit,80남성notvisit,80남성visit,장기체류외국인,단기체류외국인,배출건수,배출량,holiday,weekend
0,2018-01-01,서귀포시,남원읍,11030.2331,9791.3235,11498.2617,10650.5811,13324.2924,10954.4914,15372.8110,...,9313.4883,3581.6028,5048.0583,1258.6118,3217.1185,3552.3268,304.0,1239600.0,True,False
1,2018-01-01,서귀포시,대륜동,17647.5285,10160.5833,15216.9486,10298.1857,14152.0528,11361.8229,12541.6031,...,4756.9182,3304.4581,2626.1564,1394.6639,2926.3732,1347.0481,650.0,1717700.0,True,False
2,2018-01-01,서귀포시,대정읍,12538.2881,7792.5662,14360.4369,6043.2109,16053.7231,8710.5446,19530.3550,...,13545.1496,2777.5342,7111.8299,937.3813,5844.0823,1988.0280,309.0,1264950.0,True,False
3,2018-01-01,서귀포시,대천동,10539.1926,7307.2766,10214.4234,7677.3523,7645.1222,8157.7877,7511.4389,...,2479.1482,2655.9199,1595.5814,871.3387,2538.0331,1072.5069,696.0,1765600.0,True,False
4,2018-01-01,서귀포시,동홍동,20141.3526,7741.1595,22060.7555,8331.2173,28043.7082,8607.6880,31639.5584,...,7659.1228,2311.5113,2373.9445,1252.3303,3408.0341,1516.3274,1567.0,4165050.0,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48416,2021-06-30,제주시,일도2동,48057.8395,18562.2277,30770.1050,10532.0118,41791.7039,14277.3294,40655.9314,...,9284.7058,2556.6518,8771.6435,3420.9362,3170.0052,12.2008,2856.0,4963450.0,False,False
48417,2021-06-30,제주시,조천읍,30216.3887,14827.6615,21878.8003,9076.8035,21784.9016,11604.2870,24200.9821,...,8746.7680,2298.8838,10532.3366,3982.0652,8924.3975,149.3947,981.0,2175450.0,False,False
48418,2021-06-30,제주시,한경면,9193.6955,3548.3814,6477.0927,1736.8238,6839.1511,2765.9751,7319.9596,...,4360.6700,787.4491,8051.1412,1082.3009,5845.2554,12.4909,269.0,973850.0,False,False
48419,2021-06-30,제주시,한림읍,26110.8260,17203.7474,25456.5456,12150.2043,20592.9715,13470.3068,29606.2524,...,8323.8264,1902.3471,13061.2436,2236.5545,16187.4190,72.9285,870.0,3298100.0,False,False
48420,2021-06-30,제주시,화북동,47158.1302,17646.9049,45039.1572,22722.0188,37776.5360,13590.1558,53042.8681,...,6773.2128,1339.3738,7968.5210,3072.6886,3050.1552,43.8175,2255.0,3749600.0,False,False

In [22]:
df2['dayoff'] = (df2['holiday'] | df2['weekend'])

In [23]:
df2.replace({True:1, False:0}, inplace=True)

In [24]:
df2

,base_date,city,emd_nm,0여성notvisit,0여성visit,0남성notvisit,0남성visit,10여성notvisit,10여성visit,10남성notvisit,...,80여성visit,80남성notvisit,80남성visit,장기체류외국인,단기체류외국인,배출건수,배출량,holiday,weekend,dayoff
0,2018-01-01,서귀포시,남원읍,11030.2331,9791.3235,11498.2617,10650.5811,13324.2924,10954.4914,15372.8110,...,3581.6028,5048.0583,1258.6118,3217.1185,3552.3268,304.0,1239600.0,1,0,1
1,2018-01-01,서귀포시,대륜동,17647.5285,10160.5833,15216.9486,10298.1857,14152.0528,11361.8229,12541.6031,...,3304.4581,2626.1564,1394.6639,2926.3732,1347.0481,650.0,1717700.0,1,0,1
2,2018-01-01,서귀포시,대정읍,12538.2881,7792.5662,14360.4369,6043.2109,16053.7231,8710.5446,19530.3550,...,2777.5342,7111.8299,937.3813,5844.0823,1988.0280,309.0,1264950.0,1,0,1
3,2018-01-01,서귀포시,대천동,10539.1926,7307.2766,10214.4234,7677.3523,7645.1222,8157.7877,7511.4389,...,2655.9199,1595.5814,871.3387,2538.0331,1072.5069,696.0,1765600.0,1,0,1
4,2018-01-01,서귀포시,동홍동,20141.3526,7741.1595,22060.7555,8331.2173,28043.7082,8607.6880,31639.5584,...,2311.5113,2373.9445,1252.3303,3408.0341,1516.3274,1567.0,4165050.0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48416,2021-06-30,제주시,일도2동,48057.8395,18562.2277,30770.1050,10532.0118,41791.7039,14277.3294,40655.9314,...,2556.6518,8771.6435,3420.9362,3170.0052,12.2008,2856.0,4963450.0,0,0,0
48417,2021-06-30,제주시,조천읍,30216.3887,14827.6615,21878.8003,9076.8035,21784.9016,11604.2870,24200.9821,...,2298.8838,10532.3366,3982.0652,8924.3975,149.3947,981.0,2175450.0,0,0,0
48418,2021-06-30,제주시,한경면,9193.6955,3548.3814,6477.0927,1736.8238,6839.1511,2765.9751,7319.9596,...,787.4491,8051.1412,1082.3009,5845.2554,12.4909,269.0,973850.0,0,0,0
48419,2021-06-30,제주시,한림읍,26110.8260,17203.7474,25456.5456,12150.2043,20592.9715,13470.3068,29606.2524,...,1902.3471,13061.2436,2236.5545,16187.4190,72.9285,870.0,3298100.0,0,0,0
48420,2021-06-30,제주시,화북동,47158.1302,17646.9049,45039.1572,22722.0188,37776.5360,13590.1558,53042.8681,...,1339.3738,7968.5210,3072.6886,3050.1552,43.8175,2255.0,3749600.0,0,0,0

## 카드 소비 데이터 합치기
- 관심 있는 카테고리인 배달, 식품, 농축수산물, 마트/슈퍼마켓의 데이터만 합치기

In [2]:
df_card = pd.read_csv('01_제공데이터_update(210811)/04_음식관련 카드소비_CARD_SPENDING.CSV', encoding='cp949')

In [3]:
df_card = df_card[df_card['mct_cat_nm'].isin(['배달', '식품', '농축수산물', '마트/슈퍼마켓', '간식'])]

In [4]:
df_card

,base_date,city,emd_cd,emd_nm,mct_cat_cd,mct_cat_nm,use_cnt,use_amt
0,2018-01-01,서귀포시,50130253,남원읍,C00400,간식,108,1565308
1,2018-01-01,서귀포시,50130253,남원읍,C01200,농축수산물,54,2199680
2,2018-01-01,서귀포시,50130253,남원읍,A00200,마트/슈퍼마켓,466,24828201
3,2018-01-01,서귀포시,50130253,남원읍,C01400,배달,25,644192
5,2018-01-01,서귀포시,50130253,남원읍,C01000,식품,295,16392477
...,...,...,...,...,...,...,...,...
544795,2021-06-30,제주시,50110600,화북동,C00400,간식,362,4278870
544796,2021-06-30,제주시,50110600,화북동,C01200,농축수산물,352,46895646
544797,2021-06-30,제주시,50110600,화북동,A00200,마트/슈퍼마켓,1645,48460831
544798,2021-06-30,제주시,50110600,화북동,C01400,배달,644,13370520
544799,2021-06-30,제주시,50110600,화북동,C01000,식품,513,21022684

### 카테고리 column 생성

In [5]:
for cate in ['배달', '식품', '농축수산물', '마트/슈퍼마켓', '간식']:
    df_card['use_cnt'+cate] = df_card[['mct_cat_nm', 'use_cnt']].apply(lambda x: x[1] if x[0]==cate else 0, axis=1)
    df_card['use_amt'+cate] = df_card[['mct_cat_nm', 'use_amt']].apply(lambda x: x[1] if x[0]==cate else 0, axis=1)

In [6]:
df_card

,base_date,city,emd_cd,emd_nm,mct_cat_cd,mct_cat_nm,use_cnt,use_amt,use_cnt배달,use_amt배달,use_cnt식품,use_amt식품,use_cnt농축수산물,use_amt농축수산물,use_cnt마트/슈퍼마켓,use_amt마트/슈퍼마켓,use_cnt간식,use_amt간식
0,2018-01-01,서귀포시,50130253,남원읍,C00400,간식,108,1565308,0,0,0,0,0,0,0,0,108,1565308
1,2018-01-01,서귀포시,50130253,남원읍,C01200,농축수산물,54,2199680,0,0,0,0,54,2199680,0,0,0,0
2,2018-01-01,서귀포시,50130253,남원읍,A00200,마트/슈퍼마켓,466,24828201,0,0,0,0,0,0,466,24828201,0,0
3,2018-01-01,서귀포시,50130253,남원읍,C01400,배달,25,644192,25,644192,0,0,0,0,0,0,0,0
5,2018-01-01,서귀포시,50130253,남원읍,C01000,식품,295,16392477,0,0,295,16392477,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
544795,2021-06-30,제주시,50110600,화북동,C00400,간식,362,4278870,0,0,0,0,0,0,0,0,362,4278870
544796,2021-06-30,제주시,50110600,화북동,C01200,농축수산물,352,46895646,0,0,0,0,352,46895646,0,0,0,0
544797,2021-06-30,제주시,50110600,화북동,A00200,마트/슈퍼마켓,1645,48460831,0,0,0,0,0,0,1645,48460831,0,0
544798,2021-06-30,제주시,50110600,화북동,C01400,배달,644,13370520,644,13370520,0,0,0,0,0,0,0,0
544799,2021-06-30,제주시,50110600,화북동,C01000,식품,513,21022684,0,0,513,21022684,0,0,0,0,0,0

In [7]:
df_card2 = df_card.groupby(['base_date', 'city', 'emd_nm']).sum().reset_index()

In [8]:
df_card2.drop(columns=['use_cnt', 'use_amt'], inplace=True)

In [9]:
df_card2

,base_date,city,emd_nm,use_cnt배달,use_amt배달,use_cnt식품,use_amt식품,use_cnt농축수산물,use_amt농축수산물,use_cnt마트/슈퍼마켓,use_amt마트/슈퍼마켓,use_cnt간식,use_amt간식
0,2018-01-01,서귀포시,남원읍,25,644192,295,16392477,54,2199680,466,24828201,108,1565308
1,2018-01-01,서귀포시,대륜동,20,396728,142,3178292,29,354993,859,37971731,128,1512280
2,2018-01-01,서귀포시,대정읍,34,512113,74,1413442,44,2730942,864,37142481,137,1672984
3,2018-01-01,서귀포시,대천동,10,162030,93,2611973,25,687498,791,39231391,142,1875866
4,2018-01-01,서귀포시,동홍동,25,421916,123,2994364,34,2572840,1836,69274797,182,2338633
...,...,...,...,...,...,...,...,...,...,...,...,...,...
57458,2021-06-30,제주시,조천읍,312,8013348,981,27997634,171,20933190,900,28210604,216,2561829
57459,2021-06-30,제주시,추자면,15,399885,25,1221686,5,497970,45,798010,15,250243
57460,2021-06-30,제주시,한경면,40,697661,241,7528753,20,4176912,423,17679746,80,4974167
57461,2021-06-30,제주시,한림읍,257,5508665,599,26230243,80,13545991,669,42071373,136,1759645
57462,2021-06-30,제주시,화북동,644,13370520,513,21022684,352,46895646,1645,48460831,362,4278870

In [10]:
df = pd.read_csv("전체 데이터 통합2.csv", encoding='cp949')

In [11]:
df3 = pd.merge(df, df_card2[['base_date', 'city', 'emd_nm', 'use_amt간식']], on=['base_date', 'city', 'emd_nm'], how='left')

In [12]:
df3

,base_date,city,emd_nm,0여성notvisit,0여성visit,0남성notvisit,0남성visit,10여성notvisit,10여성visit,10남성notvisit,...,평균 현지기압(hPa),합계 일사량(MJ/m2),일 최심신적설(cm),평균 전운량(1/10),내국인거주남성,외국인거주남성,내국인거주여성,외국인거주여성,배출량,use_amt간식
0,2018-01-01,서귀포시,남원읍,11030.2331,9791.3235,11498.2617,10650.5811,13324.2924,10954.4914,15372.8110,...,1020.3,0.00,0.0,0.0,9806,428,9306,200,1239600,1565308
1,2018-01-01,서귀포시,대륜동,17647.5285,10160.5833,15216.9486,10298.1857,14152.0528,11361.8229,12541.6031,...,1020.3,0.00,0.0,0.0,6836,83,6637,95,1717700,1512280
2,2018-01-01,서귀포시,대정읍,12538.2881,7792.5662,14360.4369,6043.2109,16053.7231,8710.5446,19530.3550,...,1018.5,7.72,0.0,0.0,10360,841,10725,677,1264950,1672984
3,2018-01-01,서귀포시,대천동,10539.1926,7307.2766,10214.4234,7677.3523,7645.1222,8157.7877,7511.4389,...,1020.3,0.00,0.0,0.0,6685,107,6475,137,1765600,1875866
4,2018-01-01,서귀포시,동홍동,20141.3526,7741.1595,22060.7555,8331.2173,28043.7082,8607.6880,31639.5584,...,1020.3,0.00,0.0,0.0,11124,624,11569,642,4165050,2338633
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48416,2021-06-30,제주시,일도2동,48057.8395,18562.2277,30770.1050,10532.0118,41791.7039,14277.3294,40655.9314,...,1004.0,19.91,0.0,5.3,16077,75,16569,200,4963450,7718284
48417,2021-06-30,제주시,조천읍,30216.3887,14827.6615,21878.8003,9076.8035,21784.9016,11604.2870,24200.9821,...,1004.0,19.91,0.0,5.3,13017,279,12422,242,2175450,2561829
48418,2021-06-30,제주시,한경면,9193.6955,3548.3814,6477.0927,1736.8238,6839.1511,2765.9751,7319.9596,...,998.0,16.37,0.0,5.6,4627,237,4531,100,973850,4974167
48419,2021-06-30,제주시,한림읍,26110.8260,17203.7474,25456.5456,12150.2043,20592.9715,13470.3068,29606.2524,...,998.0,16.37,0.0,5.6,10891,2090,10341,1140,3298100,1759645
48420,2021-06-30,제주시,화북동,47158.1302,17646.9049,45039.1572,22722.0188,37776.5360,13590.1558,53042.8681,...,1004.0,19.91,0.0,5.3,12062,169,12238,161,3749600,4278870

In [13]:
df3.to_csv('전체데이터통합3.csv', encoding='cp949', index=None)

## 날씨 데이터

### 각 읍면동의 구역

In [37]:
df3['emd_nm'].unique()

array(['남원읍', '대륜동', '대정읍', '대천동', '동홍동', '서홍동', '성산읍', '송산동', '안덕면',
       '영천동', '예래동', '정방동', '중문동', '중앙동', '천지동', '표선면', '효돈동', '건입동',
       '노형동', '도두동', '봉개동', '삼도1동', '삼도2동', '삼양동', '아라동', '애월읍', '연동',
       '오라동', '외도동', '용담1동', '용담2동', '이도1동', '이도2동', '이호동', '일도1동',
       '일도2동', '화북동', '조천읍', '구좌읍', '한림읍', '한경면'], dtype=object)

In [40]:
len(df3['emd_nm'].unique())

41

In [56]:
west = ['한림읍', '한경면', '대정읍']
north = ['애월읍', '외도동', '건입동', '노형동', '도두동', '봉개동', '삼도1동', '삼도2동',
        '삼양동', '아라동', '연동', '오라동', '용담1동', '용담2동', '이도1동',
        '이도2동', '이호동', '일도1동', '일도2동', '화북동', '조천읍']
east = ['성산읍', '표선면', '구좌읍']
south = ['남원읍', '대륜동', '대천동', '동홍동', '서홍동', '송산동', '안덕면', '영천동',
        '예래동', '정방동', '중문동', '중앙동', '천지동', '효돈동']

In [57]:
len(west+north+east+south)

41

In [62]:
def allo(x):
    if x in west:
        return '고산'
    elif x in north:
        return '제주'
    elif x in east:
        return '성산'
    else:
        return '서귀포'

In [64]:
df3['지점명'] = df3['emd_nm'].apply(allo)

In [65]:
df3

,base_date,city,emd_nm,0여성notvisit,0여성visit,0남성notvisit,0남성visit,10여성notvisit,10여성visit,10남성notvisit,...,dayoff,use_cnt배달,use_amt배달,use_cnt식품,use_amt식품,use_cnt농축수산물,use_amt농축수산물,use_cnt마트/슈퍼마켓,use_amt마트/슈퍼마켓,지점명
0,2018-01-01,서귀포시,남원읍,11030.2331,9791.3235,11498.2617,10650.5811,13324.2924,10954.4914,15372.8110,...,1,25,644192,295,16392477,54,2199680,466,24828201,서귀포
1,2018-01-01,서귀포시,대륜동,17647.5285,10160.5833,15216.9486,10298.1857,14152.0528,11361.8229,12541.6031,...,1,20,396728,142,3178292,29,354993,859,37971731,서귀포
2,2018-01-01,서귀포시,대정읍,12538.2881,7792.5662,14360.4369,6043.2109,16053.7231,8710.5446,19530.3550,...,1,34,512113,74,1413442,44,2730942,864,37142481,고산
3,2018-01-01,서귀포시,대천동,10539.1926,7307.2766,10214.4234,7677.3523,7645.1222,8157.7877,7511.4389,...,1,10,162030,93,2611973,25,687498,791,39231391,서귀포
4,2018-01-01,서귀포시,동홍동,20141.3526,7741.1595,22060.7555,8331.2173,28043.7082,8607.6880,31639.5584,...,1,25,421916,123,2994364,34,2572840,1836,69274797,서귀포
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48416,2021-06-30,제주시,일도2동,48057.8395,18562.2277,30770.1050,10532.0118,41791.7039,14277.3294,40655.9314,...,0,835,18958135,946,49520652,252,13624338,1982,52547555,제주
48417,2021-06-30,제주시,조천읍,30216.3887,14827.6615,21878.8003,9076.8035,21784.9016,11604.2870,24200.9821,...,0,312,8013348,981,27997634,171,20933190,900,28210604,제주
48418,2021-06-30,제주시,한경면,9193.6955,3548.3814,6477.0927,1736.8238,6839.1511,2765.9751,7319.9596,...,0,40,697661,241,7528753,20,4176912,423,17679746,고산
48419,2021-06-30,제주시,한림읍,26110.8260,17203.7474,25456.5456,12150.2043,20592.9715,13470.3068,29606.2524,...,0,257,5508665,599,26230243,80,13545991,669,42071373,고산
48420,2021-06-30,제주시,화북동,47158.1302,17646.9049,45039.1572,22722.0188,37776.5360,13590.1558,53042.8681,...,0,644,13370520,513,21022684,352,46895646,1645,48460831,제주

### 날씨 데이터와 합치기

In [69]:
df_weather = pd.read_csv('제주 기상 데이터.csv', encoding='cp949')
df_weather

,지점,지점명,일시,평균기온(°C),일강수량(mm),평균 상대습도(%),평균 현지기압(hPa),합계 일사량(MJ/m2),일 최심신적설(cm),평균 전운량(1/10)
0,184,제주,2018-01-01,6.4,NaN,53.4,1025.5,5.97,NaN,5.3
1,184,제주,2018-01-02,7.0,NaN,53.5,1026.4,10.53,NaN,3.8
2,184,제주,2018-01-03,5.0,NaN,60.3,1027.6,7.84,NaN,7.8
3,184,제주,2018-01-04,3.9,0.6,70.0,1023.3,2.19,NaN,10.0
4,184,제주,2018-01-05,5.1,4.2,70.5,1018.9,1.26,NaN,9.9
...,...,...,...,...,...,...,...,...,...,...
5103,189,서귀포,2021-06-26,24.3,0.0,83.8,1003.7,NaN,NaN,10.0
5104,189,서귀포,2021-06-27,24.7,0.7,86.0,1000.5,NaN,NaN,7.5
5105,189,서귀포,2021-06-28,25.3,NaN,78.3,998.2,NaN,NaN,3.8
5106,189,서귀포,2021-06-29,24.4,NaN,81.5,999.9,NaN,NaN,4.9
5107,189,서귀포,2021-06-30,24.3,NaN,84.4,1000.5,NaN,NaN,5.5

In [70]:
df_weather.fillna(0, inplace=True)
df_weather

,지점,지점명,일시,평균기온(°C),일강수량(mm),평균 상대습도(%),평균 현지기압(hPa),합계 일사량(MJ/m2),일 최심신적설(cm),평균 전운량(1/10)
0,184,제주,2018-01-01,6.4,0.0,53.4,1025.5,5.97,0.0,5.3
1,184,제주,2018-01-02,7.0,0.0,53.5,1026.4,10.53,0.0,3.8
2,184,제주,2018-01-03,5.0,0.0,60.3,1027.6,7.84,0.0,7.8
3,184,제주,2018-01-04,3.9,0.6,70.0,1023.3,2.19,0.0,10.0
4,184,제주,2018-01-05,5.1,4.2,70.5,1018.9,1.26,0.0,9.9
...,...,...,...,...,...,...,...,...,...,...
5103,189,서귀포,2021-06-26,24.3,0.0,83.8,1003.7,0.00,0.0,10.0
5104,189,서귀포,2021-06-27,24.7,0.7,86.0,1000.5,0.00,0.0,7.5
5105,189,서귀포,2021-06-28,25.3,0.0,78.3,998.2,0.00,0.0,3.8
5106,189,서귀포,2021-06-29,24.4,0.0,81.5,999.9,0.00,0.0,4.9
5107,189,서귀포,2021-06-30,24.3,0.0,84.4,1000.5,0.00,0.0,5.5

In [71]:
df_weather.rename(columns={'일시':'base_date'}, inplace=True)
df_weather

,지점,지점명,base_date,평균기온(°C),일강수량(mm),평균 상대습도(%),평균 현지기압(hPa),합계 일사량(MJ/m2),일 최심신적설(cm),평균 전운량(1/10)
0,184,제주,2018-01-01,6.4,0.0,53.4,1025.5,5.97,0.0,5.3
1,184,제주,2018-01-02,7.0,0.0,53.5,1026.4,10.53,0.0,3.8
2,184,제주,2018-01-03,5.0,0.0,60.3,1027.6,7.84,0.0,7.8
3,184,제주,2018-01-04,3.9,0.6,70.0,1023.3,2.19,0.0,10.0
4,184,제주,2018-01-05,5.1,4.2,70.5,1018.9,1.26,0.0,9.9
...,...,...,...,...,...,...,...,...,...,...
5103,189,서귀포,2021-06-26,24.3,0.0,83.8,1003.7,0.00,0.0,10.0
5104,189,서귀포,2021-06-27,24.7,0.7,86.0,1000.5,0.00,0.0,7.5
5105,189,서귀포,2021-06-28,25.3,0.0,78.3,998.2,0.00,0.0,3.8
5106,189,서귀포,2021-06-29,24.4,0.0,81.5,999.9,0.00,0.0,4.9
5107,189,서귀포,2021-06-30,24.3,0.0,84.4,1000.5,0.00,0.0,5.5

In [72]:
df4 = pd.merge(df3, df_weather.iloc[:, 1:], on=['지점명', 'base_date'], how='left')

In [73]:
df4

,base_date,city,emd_nm,0여성notvisit,0여성visit,0남성notvisit,0남성visit,10여성notvisit,10여성visit,10남성notvisit,...,use_cnt마트/슈퍼마켓,use_amt마트/슈퍼마켓,지점명,평균기온(°C),일강수량(mm),평균 상대습도(%),평균 현지기압(hPa),합계 일사량(MJ/m2),일 최심신적설(cm),평균 전운량(1/10)
0,2018-01-01,서귀포시,남원읍,11030.2331,9791.3235,11498.2617,10650.5811,13324.2924,10954.4914,15372.8110,...,466,24828201,서귀포,6.1,0.0,58.9,1020.3,0.00,0.0,0.0
1,2018-01-01,서귀포시,대륜동,17647.5285,10160.5833,15216.9486,10298.1857,14152.0528,11361.8229,12541.6031,...,859,37971731,서귀포,6.1,0.0,58.9,1020.3,0.00,0.0,0.0
2,2018-01-01,서귀포시,대정읍,12538.2881,7792.5662,14360.4369,6043.2109,16053.7231,8710.5446,19530.3550,...,864,37142481,고산,6.1,0.0,58.4,1018.5,7.72,0.0,0.0
3,2018-01-01,서귀포시,대천동,10539.1926,7307.2766,10214.4234,7677.3523,7645.1222,8157.7877,7511.4389,...,791,39231391,서귀포,6.1,0.0,58.9,1020.3,0.00,0.0,0.0
4,2018-01-01,서귀포시,동홍동,20141.3526,7741.1595,22060.7555,8331.2173,28043.7082,8607.6880,31639.5584,...,1836,69274797,서귀포,6.1,0.0,58.9,1020.3,0.00,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48416,2021-06-30,제주시,일도2동,48057.8395,18562.2277,30770.1050,10532.0118,41791.7039,14277.3294,40655.9314,...,1982,52547555,제주,24.9,0.0,75.1,1004.0,19.91,0.0,5.3
48417,2021-06-30,제주시,조천읍,30216.3887,14827.6615,21878.8003,9076.8035,21784.9016,11604.2870,24200.9821,...,900,28210604,제주,24.9,0.0,75.1,1004.0,19.91,0.0,5.3
48418,2021-06-30,제주시,한경면,9193.6955,3548.3814,6477.0927,1736.8238,6839.1511,2765.9751,7319.9596,...,423,17679746,고산,24.0,0.0,94.4,998.0,16.37,0.0,5.6
48419,2021-06-30,제주시,한림읍,26110.8260,17203.7474,25456.5456,12150.2043,20592.9715,13470.3068,29606.2524,...,669,42071373,고산,24.0,0.0,94.4,998.0,16.37,0.0,5.6
48420,2021-06-30,제주시,화북동,47158.1302,17646.9049,45039.1572,22722.0188,37776.5360,13590.1558,53042.8681,...,1645,48460831,제주,24.9,0.0,75.1,1004.0,19.91,0.0,5.3

In [74]:
df4.columns

Index(['base_date', 'city', 'emd_nm', '0여성notvisit', '0여성visit', '0남성notvisit',
       '0남성visit', '10여성notvisit', '10여성visit', '10남성notvisit', '10남성visit',
       '20여성notvisit', '20여성visit', '20남성notvisit', '20남성visit',
       '30여성notvisit', '30여성visit', '30남성notvisit', '30남성visit',
       '40여성notvisit', '40여성visit', '40남성notvisit', '40남성visit',
       '50여성notvisit', '50여성visit', '50남성notvisit', '50남성visit',
       '60여성notvisit', '60여성visit', '60남성notvisit', '60남성visit',
       '70여성notvisit', '70여성visit', '70남성notvisit', '70남성visit',
       '80여성notvisit', '80여성visit', '80남성notvisit', '80남성visit', '장기체류외국인',
       '단기체류외국인', '배출건수', '배출량', 'holiday', 'weekend', 'dayoff', 'use_cnt배달',
       'use_amt배달', 'use_cnt식품', 'use_amt식품', 'use_cnt농축수산물', 'use_amt농축수산물',
       'use_cnt마트/슈퍼마켓', 'use_amt마트/슈퍼마켓', '지점명', '평균기온(°C)', '일강수량(mm)',
       '평균 상대습도(%)', '평균 현지기압(hPa)', '합계 일사량(MJ/m2)', '일 최심신적설(cm)',
       '평균 전운량(1/10)'],
      dtype='object')

In [75]:
df4.drop(columns=['holiday', 'weekend', '지점명'], inplace=True)

In [76]:
df4.columns

Index(['base_date', 'city', 'emd_nm', '0여성notvisit', '0여성visit', '0남성notvisit',
       '0남성visit', '10여성notvisit', '10여성visit', '10남성notvisit', '10남성visit',
       '20여성notvisit', '20여성visit', '20남성notvisit', '20남성visit',
       '30여성notvisit', '30여성visit', '30남성notvisit', '30남성visit',
       '40여성notvisit', '40여성visit', '40남성notvisit', '40남성visit',
       '50여성notvisit', '50여성visit', '50남성notvisit', '50남성visit',
       '60여성notvisit', '60여성visit', '60남성notvisit', '60남성visit',
       '70여성notvisit', '70여성visit', '70남성notvisit', '70남성visit',
       '80여성notvisit', '80여성visit', '80남성notvisit', '80남성visit', '장기체류외국인',
       '단기체류외국인', '배출건수', '배출량', 'dayoff', 'use_cnt배달', 'use_amt배달',
       'use_cnt식품', 'use_amt식품', 'use_cnt농축수산물', 'use_amt농축수산물',
       'use_cnt마트/슈퍼마켓', 'use_amt마트/슈퍼마켓', '평균기온(°C)', '일강수량(mm)',
       '평균 상대습도(%)', '평균 현지기압(hPa)', '합계 일사량(MJ/m2)', '일 최심신적설(cm)',
       '평균 전운량(1/10)'],
      dtype='object')

In [79]:
# df4.to_csv('음식물+유동인구+휴일+카드+날씨.csv', encoding='cp949', index=None)