In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('01_제공데이터_update(210811)/03_거주인구_RESIDENT_POP.CSV', encoding='cp949')

In [3]:
df

,base_year,base_month,city,emd_cd,emd_nm,sex,resid_reg_pop,foreign_pop,total_pop
0,2018,1,제주시,50110590,건입동,남성,5085,146,5231
1,2018,1,제주시,50110590,건입동,여성,4715,82,4797
2,2018,1,제주시,50110256,구좌읍,남성,7965,368,8333
3,2018,1,제주시,50110256,구좌읍,여성,7609,184,7793
4,2018,1,서귀포시,50130253,남원읍,남성,9806,428,10234
...,...,...,...,...,...,...,...,...,...
3607,2021,6,제주시,50110250,한림읍,여성,10341,1140,11481
3608,2021,6,제주시,50110600,화북동,남성,12062,169,12231
3609,2021,6,제주시,50110600,화북동,여성,12238,161,12399
3610,2021,6,서귀포시,50130550,효돈동,남성,2660,39,2699
3611,2021,6,서귀포시,50130550,효돈동,여성,2597,18,2615

In [5]:
def todatetime(x):
    year = str(x[0])
    month = x[1]
    if month < 10:
        month = '0' + str(month)
    else:
        month = str(month)
    
    return year+'-'+month

In [6]:
df.insert(0, 'base_date', df.apply(todatetime, axis=1))

In [8]:
df = df[['base_date', 'city', 'emd_nm', 'sex', 'resid_reg_pop', 'foreign_pop']]
df

     base_date  city emd_nm sex  resid_reg_pop  foreign_pop
0      2018-01   제주시    건입동  남성           5085          146
1      2018-01   제주시    건입동  여성           4715           82
2      2018-01   제주시    구좌읍  남성           7965          368
3      2018-01   제주시    구좌읍  여성           7609          184
4      2018-01  서귀포시    남원읍  남성           9806          428
...        ...   ...    ...  ..            ...          ...
3607   2021-06   제주시    한림읍  여성          10341         1140
3608   2021-06   제주시    화북동  남성          12062          169
3609   2021-06   제주시    화북동  여성          12238          161
3610   2021-06  서귀포시    효돈동  남성           2660           39
3611   2021-06  서귀포시    효돈동  여성           2597           18

[3612 rows x 6 columns]

In [10]:
for sex in ['남성', '여성']:
    df['내국인거주'+sex] = df[['sex', 'resid_reg_pop']].apply(lambda x: x[1] if x[0]==sex else 0, axis=1)
    df['외국인거주'+sex] = df[['sex', 'foreign_pop']].apply(lambda x: x[1] if x[0]==sex else 0, axis=1)

C:\Users\master\anaconda3\envs\multi\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\master\anaconda3\envs\multi\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [11]:
df

,base_date,city,emd_nm,sex,resid_reg_pop,foreign_pop,내국인거주남성,외국인거주남성,내국인거주여성,외국인거주여성
0,2018-01,제주시,건입동,남성,5085,146,5085,146,0,0
1,2018-01,제주시,건입동,여성,4715,82,0,0,4715,82
2,2018-01,제주시,구좌읍,남성,7965,368,7965,368,0,0
3,2018-01,제주시,구좌읍,여성,7609,184,0,0,7609,184
4,2018-01,서귀포시,남원읍,남성,9806,428,9806,428,0,0
...,...,...,...,...,...,...,...,...,...,...
3607,2021-06,제주시,한림읍,여성,10341,1140,0,0,10341,1140
3608,2021-06,제주시,화북동,남성,12062,169,12062,169,0,0
3609,2021-06,제주시,화북동,여성,12238,161,0,0,12238,161
3610,2021-06,서귀포시,효돈동,남성,2660,39,2660,39,0,0
3611,2021-06,서귀포시,효돈동,여성,2597,18,0,0,2597,18

In [20]:
df2 = df.groupby(['base_date', 'city', 'emd_nm']).sum().iloc[:, 2:].reset_index().rename(columns={'base_date':'month'})
df2

        month  city emd_nm  내국인거주남성  외국인거주남성  내국인거주여성  외국인거주여성
0     2018-01  서귀포시    남원읍     9806      428     9306      200
1     2018-01  서귀포시    대륜동     6836       83     6637       95
2     2018-01  서귀포시    대정읍    10360      841    10725      677
3     2018-01  서귀포시    대천동     6685      107     6475      137
4     2018-01  서귀포시    동홍동    11124      624    11569      642
...       ...   ...    ...      ...      ...      ...      ...
1801  2021-06   제주시    조천읍    13017      279    12422      242
1802  2021-06   제주시    추자면      874      240      752       11
1803  2021-06   제주시    한경면     4627      237     4531      100
1804  2021-06   제주시    한림읍    10891     2090    10341     1140
1805  2021-06   제주시    화북동    12062      169    12238      161

[1806 rows x 7 columns]

In [16]:
df_base = pd.read_csv('전체데이터통합.csv', encoding='cp949')

In [17]:
df_base

,base_date,city,emd_nm,0여성notvisit,0여성visit,0남성notvisit,0남성visit,10여성notvisit,10여성visit,10남성notvisit,...,use_amt농축수산물,use_amt마트/슈퍼마켓,평균기온(°C),일강수량(mm),평균 상대습도(%),평균 현지기압(hPa),합계 일사량(MJ/m2),일 최심신적설(cm),평균 전운량(1/10),배출량
0,2018-01-01,서귀포시,남원읍,11030.2331,9791.3235,11498.2617,10650.5811,13324.2924,10954.4914,15372.8110,...,2199680,24828201,6.1,0.0,58.9,1020.3,0.00,0.0,0.0,1239600
1,2018-01-01,서귀포시,대륜동,17647.5285,10160.5833,15216.9486,10298.1857,14152.0528,11361.8229,12541.6031,...,354993,37971731,6.1,0.0,58.9,1020.3,0.00,0.0,0.0,1717700
2,2018-01-01,서귀포시,대정읍,12538.2881,7792.5662,14360.4369,6043.2109,16053.7231,8710.5446,19530.3550,...,2730942,37142481,6.1,0.0,58.4,1018.5,7.72,0.0,0.0,1264950
3,2018-01-01,서귀포시,대천동,10539.1926,7307.2766,10214.4234,7677.3523,7645.1222,8157.7877,7511.4389,...,687498,39231391,6.1,0.0,58.9,1020.3,0.00,0.0,0.0,1765600
4,2018-01-01,서귀포시,동홍동,20141.3526,7741.1595,22060.7555,8331.2173,28043.7082,8607.6880,31639.5584,...,2572840,69274797,6.1,0.0,58.9,1020.3,0.00,0.0,0.0,4165050
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48416,2021-06-30,제주시,일도2동,48057.8395,18562.2277,30770.1050,10532.0118,41791.7039,14277.3294,40655.9314,...,13624338,52547555,24.9,0.0,75.1,1004.0,19.91,0.0,5.3,4963450
48417,2021-06-30,제주시,조천읍,30216.3887,14827.6615,21878.8003,9076.8035,21784.9016,11604.2870,24200.9821,...,20933190,28210604,24.9,0.0,75.1,1004.0,19.91,0.0,5.3,2175450
48418,2021-06-30,제주시,한경면,9193.6955,3548.3814,6477.0927,1736.8238,6839.1511,2765.9751,7319.9596,...,4176912,17679746,24.0,0.0,94.4,998.0,16.37,0.0,5.6,973850
48419,2021-06-30,제주시,한림읍,26110.8260,17203.7474,25456.5456,12150.2043,20592.9715,13470.3068,29606.2524,...,13545991,42071373,24.0,0.0,94.4,998.0,16.37,0.0,5.6,3298100
48420,2021-06-30,제주시,화북동,47158.1302,17646.9049,45039.1572,22722.0188,37776.5360,13590.1558,53042.8681,...,46895646,48460831,24.9,0.0,75.1,1004.0,19.91,0.0,5.3,3749600

In [18]:
df_base['month'] = df_base['base_date'].str[:7]
df_base

,base_date,city,emd_nm,0여성notvisit,0여성visit,0남성notvisit,0남성visit,10여성notvisit,10여성visit,10남성notvisit,...,use_amt마트/슈퍼마켓,평균기온(°C),일강수량(mm),평균 상대습도(%),평균 현지기압(hPa),합계 일사량(MJ/m2),일 최심신적설(cm),평균 전운량(1/10),배출량,month
0,2018-01-01,서귀포시,남원읍,11030.2331,9791.3235,11498.2617,10650.5811,13324.2924,10954.4914,15372.8110,...,24828201,6.1,0.0,58.9,1020.3,0.00,0.0,0.0,1239600,2018-01
1,2018-01-01,서귀포시,대륜동,17647.5285,10160.5833,15216.9486,10298.1857,14152.0528,11361.8229,12541.6031,...,37971731,6.1,0.0,58.9,1020.3,0.00,0.0,0.0,1717700,2018-01
2,2018-01-01,서귀포시,대정읍,12538.2881,7792.5662,14360.4369,6043.2109,16053.7231,8710.5446,19530.3550,...,37142481,6.1,0.0,58.4,1018.5,7.72,0.0,0.0,1264950,2018-01
3,2018-01-01,서귀포시,대천동,10539.1926,7307.2766,10214.4234,7677.3523,7645.1222,8157.7877,7511.4389,...,39231391,6.1,0.0,58.9,1020.3,0.00,0.0,0.0,1765600,2018-01
4,2018-01-01,서귀포시,동홍동,20141.3526,7741.1595,22060.7555,8331.2173,28043.7082,8607.6880,31639.5584,...,69274797,6.1,0.0,58.9,1020.3,0.00,0.0,0.0,4165050,2018-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48416,2021-06-30,제주시,일도2동,48057.8395,18562.2277,30770.1050,10532.0118,41791.7039,14277.3294,40655.9314,...,52547555,24.9,0.0,75.1,1004.0,19.91,0.0,5.3,4963450,2021-06
48417,2021-06-30,제주시,조천읍,30216.3887,14827.6615,21878.8003,9076.8035,21784.9016,11604.2870,24200.9821,...,28210604,24.9,0.0,75.1,1004.0,19.91,0.0,5.3,2175450,2021-06
48418,2021-06-30,제주시,한경면,9193.6955,3548.3814,6477.0927,1736.8238,6839.1511,2765.9751,7319.9596,...,17679746,24.0,0.0,94.4,998.0,16.37,0.0,5.6,973850,2021-06
48419,2021-06-30,제주시,한림읍,26110.8260,17203.7474,25456.5456,12150.2043,20592.9715,13470.3068,29606.2524,...,42071373,24.0,0.0,94.4,998.0,16.37,0.0,5.6,3298100,2021-06
48420,2021-06-30,제주시,화북동,47158.1302,17646.9049,45039.1572,22722.0188,37776.5360,13590.1558,53042.8681,...,48460831,24.9,0.0,75.1,1004.0,19.91,0.0,5.3,3749600,2021-06

In [25]:
df_all = pd.merge(df_base, df2, on=['month', 'city', 'emd_nm'], how='left')

In [26]:
df_all.isnull().sum().sum()

0

In [27]:
df_all

,base_date,city,emd_nm,0여성notvisit,0여성visit,0남성notvisit,0남성visit,10여성notvisit,10여성visit,10남성notvisit,...,평균 현지기압(hPa),합계 일사량(MJ/m2),일 최심신적설(cm),평균 전운량(1/10),배출량,month,내국인거주남성,외국인거주남성,내국인거주여성,외국인거주여성
0,2018-01-01,서귀포시,남원읍,11030.2331,9791.3235,11498.2617,10650.5811,13324.2924,10954.4914,15372.8110,...,1020.3,0.00,0.0,0.0,1239600,2018-01,9806,428,9306,200
1,2018-01-01,서귀포시,대륜동,17647.5285,10160.5833,15216.9486,10298.1857,14152.0528,11361.8229,12541.6031,...,1020.3,0.00,0.0,0.0,1717700,2018-01,6836,83,6637,95
2,2018-01-01,서귀포시,대정읍,12538.2881,7792.5662,14360.4369,6043.2109,16053.7231,8710.5446,19530.3550,...,1018.5,7.72,0.0,0.0,1264950,2018-01,10360,841,10725,677
3,2018-01-01,서귀포시,대천동,10539.1926,7307.2766,10214.4234,7677.3523,7645.1222,8157.7877,7511.4389,...,1020.3,0.00,0.0,0.0,1765600,2018-01,6685,107,6475,137
4,2018-01-01,서귀포시,동홍동,20141.3526,7741.1595,22060.7555,8331.2173,28043.7082,8607.6880,31639.5584,...,1020.3,0.00,0.0,0.0,4165050,2018-01,11124,624,11569,642
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48416,2021-06-30,제주시,일도2동,48057.8395,18562.2277,30770.1050,10532.0118,41791.7039,14277.3294,40655.9314,...,1004.0,19.91,0.0,5.3,4963450,2021-06,16077,75,16569,200
48417,2021-06-30,제주시,조천읍,30216.3887,14827.6615,21878.8003,9076.8035,21784.9016,11604.2870,24200.9821,...,1004.0,19.91,0.0,5.3,2175450,2021-06,13017,279,12422,242
48418,2021-06-30,제주시,한경면,9193.6955,3548.3814,6477.0927,1736.8238,6839.1511,2765.9751,7319.9596,...,998.0,16.37,0.0,5.6,973850,2021-06,4627,237,4531,100
48419,2021-06-30,제주시,한림읍,26110.8260,17203.7474,25456.5456,12150.2043,20592.9715,13470.3068,29606.2524,...,998.0,16.37,0.0,5.6,3298100,2021-06,10891,2090,10341,1140
48420,2021-06-30,제주시,화북동,47158.1302,17646.9049,45039.1572,22722.0188,37776.5360,13590.1558,53042.8681,...,1004.0,19.91,0.0,5.3,3749600,2021-06,12062,169,12238,161

In [28]:
df_all.to_csv('전체 데이터 통합2.csv', encoding='cp949')